[Unit]
Description=Node Identity Authenticator

[Service]
Environment=PATH=$PATH:/usr/local/lib
WorkingDirectory=/home/nodeapp/node-identity-authenticator
ExecStart=/usr/bin/node app.js --config=config.json
User=nodejs
Group=nodejs
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
